PORT=8000
MONGO_URI=


# Get these from Google Cloud Platform
CLIENT_ID=
CLIENT_SECRET=

#Set According to your Localhost
REDIRECT_URL=http://localhost:8000/api/auth/google/callback

# Simple JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d

#Get your Openrouter API Key
OPENROUTER_MODEL=openrouter/free
OPENROUTER_API_KEY=

# Add this Base URL Here after hosting the backend , else it works on local host
BASE_URL=""